// Variables

// Typo
$sans: 'Roboto Condensed', sans-serif;

// Colors
$grey-bg: #f4f4f4;
$black: #333;
$white: #fff;
$light-grey: #d6d6d6;
$dark-grey: lighten($black, 20);
$blue: #4078c0;
$red: #AE2024;
$green: #5FA145;
$yellow: #FEDB09;

// Measurements
$stat-size: 70px;

//

* {
  box-sizing: border-box;
}

body {
  font-family: $sans;
  background: $grey-bg;
  margin: 0;
  padding: 0;
  color: $black;
}

a {
  text-decoration: none;
}

.clearfix {
  clear: both;
}

.wrapper {
  margin: 0 auto;
  max-width: 550px;
}

// Loading

.loading-container {
  display: flex;
  height: 100%;
  margin-top: 20%;
  justify-content: center;
}

.spinner {
    border: 8px solid #d6d6d6;
    border-top: 8px solid $blue;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: spin .5s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

// Header

.header {
  background: $black;
  height: 60px;
  padding-left: 20%;
  line-height: 60px;

  a {
    color: $white;
  }

  .brand {
    font-size: 2em;
  }
}
