.card-container
  @include depth-2
  margin: 30px auto
  padding: 30px 20px 20px
  background-color: white
  border-radius: 2px
  height: 350px
  width: 400px
  text-align: center
  position: relative
  box-sizing: border-box
  overflow-y: auto

.card-header
  text-align: left

  h3
    color: lighten($mainText, 50%)
    margin: 0

  .finish-training
    position: absolute
    top: 10px
    right: 10px
    background: white
    padding: 10px 15px
    border: none
    color: $red

.card-type
  color: lighten($mainText, 30%)
  font-size: 0.8em
  font-style: italic

.question
  padding-top: 40px
  line-height: 32px

.word-definition
  text-align: left
  font-size: 1em
  padding-left: 20px
  margin: 10px 0

.meanings
  margin-top: 10px
  text-align: left
  padding-left: 45px

  li
    font-size: .9em
    line-height: 20px
    letter-spacing: .5px

// TO DECIDE: fixed in card-container or fixed in window?
.card-actions
  width: 300px
  padding: 10px 20px 20px
  border-top: 1px solid $lightGray
  position: fixed
  bottom: 10px
  left: 50%
  transform: translate(-50%, 0) // needed for centering items in a abs positioned div
  text-align: center

  h4
    margin: 5px auto 10px
  
  .material-icons
    font-size: 32px

// Buttons
.lc-button
  @include button
  
.lc-button-inverted
  @include button-inverted
  @include depth-1
  @include smooth-transition
  border: none
  &:hover
    @include depth-2
    transform: scale(1.1)

  &.correct
    @include button-color($green)
  &.wrong
    @include button-color($red)
  &.repeat
    @include button-color($orange)
  &.reveal
    @include button-color($mainText)


// Card Contaıner Scroll Bar

.card-container::-webkit-scrollbar,
    width: 5px
 
.card-container::-webkit-scrollbar-track,
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.2)

.card-container::-webkit-scrollbar-thumb,
  background-color: lighten($mainText, 20%)
