$blue: #4078c0
$mainText: #333

body
  margin: 0
  background-color: #e2e2e2
  font-family: Helvetica, Arial, sans-serif
  color: $mainText
  letter-spacing: .3px

a
  text-decoration: none
  color: $blue
  &:hover
    color: $mainText

#app
  margin: 20px
  padding: 20px

