// TODO: Seperate into smaller parts
$blue: #4078c0
$green: rgb(72, 147, 91)
$red: rgb(198, 53, 39)
$orange: #e0b54e
$mainText: #333
$lightGray: rgb(232, 232, 232)
$bg-color: #edecec
$font: Helvetica, Arial, sans-serif
$headerHeight: 60px
$headerBg: #303030

body
  margin: 0
  font-family: $font
  color: $mainText
  letter-spacing: .3px
  background-color: $bg-color

a
  text-decoration: none
  color: $blue
  &:hover
    color: $mainText

button
  outline: none

.header
  background: $headerBg
  position: fixed
  top: 0
  left: 0
  height: $headerHeight
  width: 100%
  padding: 0 60px

  a
    color: white


  .brand
    margin: 0
    padding: 0
    line-height: $headerHeight

.main-container
  max-width: 750px
  margin: $headerHeight auto 0
  padding: 10px

.card-container
  margin: 30px auto
  padding: 10px 20px
  background-color: white
  border-radius: 2px
  height: 350px
  width: 400px
  box-shadow: rgba(0, 0, 0, 0.188235) 0px 10px 30px, rgba(0, 0, 0, 0.227451) 0px 6px 10px
  text-align: center
  position: relative
  box-sizing: border-box
  overflow-y: auto

.card-header
  text-align: left

  h3
    color: lighten($mainText, 50%)

.card-type
  color: lighten($mainText, 30%)
  font-size: 0.8em
  font-style: italic

.question
  padding-top: 40px
  line-height: 32px

.word-definition
  text-align: left
  font-size: 1em
  padding-left: 10px
  margin: 10px 0

.meanings
  margin-top: 10px
  text-align: left
  padding-left: 30px

  li
    font-size: .9em
    line-height: 20px
    letter-spacing: .5px

// TO DECIDE: fixed in card-container or fixed in window?
.card-actions
  width: 300px
  padding: 10px 20px 20px
  border-top: 1px solid $lightGray
  position: fixed
  bottom: 10px
  left: 50%
  transform: translate(-50%, 0) // needed for centering items in a abs positioned div
  text-align: center

  h4
    margin: 5px auto 10px
  
  .material-icons
    font-size: 32px

// Stats
.training-stats
  position: relative
  .stat
    margin: auto 6px
    font-size: 1.6em
    display: inline-block
    width: 60px
    height: 60px
    line-height: 60px
    text-align: center
    background: white
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
    &.correct
      color: $green
    &.repeat
      color: $orange
    &.wrong
      color: $red

  .progress-bar
    position: absolute
    bottom: 10px
    right: 0
    width: 150px
    height: 6px
    background-color: lighten($mainText, 65%)
    border-radius: 2px

    > div 
      background: $blue
      height: 100%
      overflow: hidden
      transition: width 0.3s linear 0ms

// Mixins
  
=button
  padding: 10px 15px
  margin-right: 10px
  text-transform: uppercase
  text-align: center
  font-size: 14px
  letter-spacing: 0px
  border-radius: 2px
  font-weight: 500
  border: 1px solid white
  color: white
  cursor: pointer

=button-inverted
  background-color: white
  padding: 10px 15px
  margin-right: 10px
  text-transform: uppercase
  text-align: center
  font-size: 14px
  letter-spacing: 0px
  border-radius: 2px
  font-weight: 500
  cursor: pointer

=button-bg($bg)
  background-color: $bg
  &:hover
    background-color: lighten($bg, 10%)

=button-color($color)
  color: $color
    

.lc-button
  @include button
  // &.wrong
  //   @include button-bg($red)
  // &.correct
  //   @include button-bg($green)
  // &.repeat
  //   @include button-bg($orange)
  
.lc-button-inverted
  @include button-inverted
  border: none
  &:hover
      transform: scale(1.25)
      transition: all .25s
  &.correct
    @include button-color($green)
  &.wrong
    @include button-color($red)
  &.repeat
    @include button-color($orange)
  &.reveal
    @include button-color($mainText)

